<article class="product-item">
   <!-- <img src="../../../../<%= product.path %>" alt="<%= product.title %>" height="50px" width="50px"/> -->
    <div class="product-item-content">
      <h2><%= product.title %></h2>
      <div class="product-item-actions">
        <a class="btn btn-alt" href="/admin/products/<%= product.id %>">View & Edit</a>
        <a class="btn btn-alt" href="/admin/products/delete/<%= product.id %>">Delete</a>
      </div>
    </div>
  </article>