<article class="order-item">
  <header class="order-summary">
    <h2><span class="order-item-price">₹<%= order.price %></span> - <%= order.date %>
    </h2>
    <% if(order.status){ %>
      <p><span class="badge">Pending</span></p>
      <% } else{ %>
        <p><span class="badge">Delivered</span></p>
        <% } %>
  </header>

  <section class="order-details">
    <ul>
      <li>
        <%= order.title %> - ₹<%= order.price %> (₹<%= order.price/order.quantity %> x <%= order.quantity %>)
      </li>
      <img src="<%= order.path %>" alt="<%= order.title %>">
    </ul>
  </section>

</article>